.g-title{
    font-weight: bold;
    font-size: 20px;
    color: rgb(26, 115, 199);
    position: relative;
    margin-bottom: 10px;
}
.g-title::before{
    content: '';
    border-left: 10px solid rgb(26, 115, 199);
    margin: 0 10px 0 0;
}