.g-dashboard{
    padding: 10px;
    background: rgb(17, 32, 75);
    height: 100%;
    overflow: auto;
    &-item{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        >div{
            margin: 10px;
        }
    }
}


